{% extends "base" %}

{% set includes = "routes/contact/includes/" %}

{% block header %}
  {% include("layout/header--simple") %}
{% endblock %}

{% block layout %}
  <div class="col-lg">
    {{ include(includes ~ 'content') }}
  </div>
  <div class="col-lg">
    {{ include(includes ~ 'form') }}
  </div>
{% endblock %}
