# Wordpress
/wordpress/

# Dev and CI
*.cache
/build/
/dist/
/logs/
cghooks.lock
docker-compose.override.yml

# Composer
/vendor/
composer.lock

# Env
*.env
.env.*
.*.env
!.env.example

# Editor/ IDE
*.code-workspace
.idea/
.project/
.vscode/

# System files
.DS_Store
Thumbs.db
