# Wordpress
/wordpress/

# Dev and CI builds
*.cache
/.playground
/.playground.php
/build/
/cache/
/dist/
/logs/
/storage/cache/
/storage/logs/
/storage/temp/
/temp/
captainhook.config.json
cghooks.lock
docker-compose.override.yml

# Composer
/vendor/
composer.lock

# Env
*.env
.env.*
.*.env
!.env.example

# Editor/ IDE
*.code-workspace
.idea/
.project/
.vscode/

# System files
.DS_Store
Thumbs.db
