# Local development files
*.cache
/@playground
/build/
/dist/
/var/
/wordpress/

# Composer
/vendor/
composer.lock
/pathagist.json
captainhook.config.json
cghooks.lock

# Npm
package-lock.json

# Docker
docker-compose.override.yml
docker/@local

# Env
*.env
.env.*
!.env.example

# Editor/ IDE
*.code-workspace
.vscode
.idea
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
