includes:
  # - phpstan-baseline.neon

parameters:
  level: 5
  tmpDir: build/phpstan
  reportUnmatchedIgnoredErrors: false

  paths:
    # dist
    - app
    - boot
    - config
    - theme
    - functions.php
    # dev
    - tests
    - wp-config.php

  bootstrapFiles:
    # - boot/constants.php

  ignoreErrors:
    # - '#^Unsafe usage of new static\(\).$#'
