// navbar

$navbar-height-xs: 70px;
$navbar-height-md: 100px;

// hero

$hero-padding-top-xs: $navbar-height-xs;
$hero-padding-top-md: $navbar-height-md;
$hero-height-xs: 680px;
$hero-height-lg: 70vh;

// content

// footer
