// navbar ######################################################################

$navbar-height-xs: 70px;
$navbar-height-md: 100px;

// hero ########################################################################

// default hero
$hero-padding-top-xs: $navbar-height-xs;
$hero-padding-top-md: $navbar-height-md;
$hero-height-xs: 680px;
$hero-height-lg: 70vh;

// hero #######################################################################

// site hero
$hero-front-bg-img: "site-hero.jpg";
$hero-front-height: 85vh;

// services hero
$hero-services-bg-img: "services-hero.jpg";

// contact hero
$hero-contact-bg-img: "contact-hero.jpg";
$hero-contact-height: 30vh;

// about hero
$hero-about-bg-img: "about-hero.jpg";

// 404
$hero-404-bg-img: "404-hero.jpg";

// page
$hero-page-bg-img: "page-hero.jpg";

// content #####################################################################

// footer ######################################################################
