// Pallette
$blackboard: #565656;
$charcoal: #373737;
$dusty: #96858f;
$grain: #d7cec7;
$lavender: #6d7993;
$overcast: #9099a2;
$oxBlood: #76323f;
$paleGold: #c0b283;
$paleGray: #d5d5d5;
$paper: #f4f4f4;
$silk: #dcd0c0;
$tan: #c09f80;
$gold: #d4af37;
$jasmine: #61b2a7;

// Opacity
$opacity-levels: (
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9,
  none: 10,
);
