This is an example of a
<span style="font-weight: bolder">twig file that emphasizes text</span>
so that
<span style="font-style:italic; text-decoration:underline">the concerns of creating a layout and writing design copy</span>
can be separated. Because it is a twig file, you can get dynamic data such as the site title, which is
{{ site.title }}. Now that you've seen it, feel free to delete this file!
