@use "sass:map";
@use "sass:list";

///
@function remify($px) {
  @if (unitless($px)) {
    $px: $px * 1px;
  }

  @return ($px / 16px) * 1rem;
}

///
@function pixelfy($rem) {
  @if (unitless($rem)) {
    $rem: $rem * 1rem;
  }

  @return (($rem * 16) / 1rem) * 1px;
}

/// convert a map into a list of nested items
@function flatten($map, $separator: "comma", $list: ()) {
  @each $item, $entry in $map {
    @if (type-of($entry) == "map" or type-of($entry) == "list") {
      $list: flatten($entry, $separator, $list);
    } @else {
      $list: list.append($list, $item, $separator: $separator);
    }
  }

  @return $list;
}
