//
.hero {
  display: flex;
  position: relative;
  min-height: 70vh;
  height: auto;
  padding-top: $hero-padding-top-xs;
  overflow: hidden;

  .hero__bg-img {
    @include overlay(rgba(black, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
  }

  .container {
    // margin-top: -#{$hero-padding-top-xs};
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__title {
    @include font-size(3.5rem);
  }

  .hero__statement {
    @extend .lead;
    // @include font-size(1.5rem);
  }

  // page heros

  &.hero--about {
    .hero__bg-img {
      background-image: unsplash-src(random/1920x1080);
    }
  }

  &.hero--front {
    min-height: 100vh;

    .hero__title {
      animation-duration: 2.5s;
    }

    .hero__statement {
      animation-duration: 2s;
      animation-delay: 2.5s;
    }

    .hero__bg-img {
      background-attachment: fixed;
      background-image: unsplash-src(random/1920x1080);
      animation-duration: 25s;
    }
  }

  &.hero--contact {
    min-height: 0;

    .hero__bg-img {
      background-image: unsplash-src(random/1920x1080);
      background-size: 100% auto;
    }
  }

  &.hero--services {
    .hero__bg-img {
      background-image: unsplash-src(random/1920x1080);
    }
  }

  &.hero--privacy-policy {
    min-height: 50vh;

    .hero__bg-img {
      background-image: unsplash-src(random/1920x1080);
    }
  }

  &.hero--404 {
    min-height: 100vh;

    .hero__bg-img {
      background-image: unsplash-src(random/1920x1080);
    }
  }
}
