///
@mixin page_hero($height, $navbarHeight) {
    display: flex;
    position: relative;
    min-height: $height;

    // &::before {
    //     position: absolute;
    //     height: $navbarHeight;
    //     width: 100%;
    //     content: '';
    // }

    // &::after {
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //     height: 0;
    //     content: '';
    // }
}

///
@mixin hero_background($zIndex, $size) {
    // display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: $size;
    z-index: $zIndex;
}