<header id="header" class="hero hero--{{base}} d-flex">
  <div class="hero__bg-img"></div>

  <div class="container text-center text-white-90 py-3 pt-7">
    <div class="row no-gutters">
      <div class="col">

        <h1 class="hero__title mr-auto text-left display-4 font-weight-normal mt-auto">
          {{ include(hero.statement) }}
        </h1>

      </div>
    </div>
  </div>
</header>
